* {
  border: 1px dotted pink;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

/* LOGIN */

.login {
  padding: 10px;
}

.login .field {
  margin: 0 auto;
  display: block;
  padding: 2px;
}

.login .button {
  margin-left: 34%;
  padding: 12px;
  width: auto;
}

.login .button #create {
  display: inline;
}

#login {
  margin-left: 0;
  display: inline;
}

/* PROFILE / DECKS */

#welcome {
  display: inline-block;
}

.logout {
  float: right;
  margin: 3px;
}



