/* GLOBAL */


/*
* {
  border: 1px dotted pink;
}
*/



body {
  color: gray;
  background-color: #f5f5f5;
  font-family: "helvetica neue", sans-serif;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

th {
  text-align: left;
}

a {
  color: #6cbcef;
  text-decoration: none;
}

a:hover {
  color: #2b8cca;
  text-decoration: underline;
}

input[type="button"] {
  padding: 10px;
}



/* LOGIN */

.login {
  padding: 10px;
}

.login .field {
  margin: 0 auto;
  display: block;
  padding: 2px;
}

.login .button {
  margin-left: 34%;
  padding: 12px;
  width: auto;
}

.login .button #create {
  display: inline;
}

#login {
  margin-left: 0;
  display: inline;
}


/* PROFILE / DECKS */

#welcome {
  display: inline-block;
}

.logout {
  float: right;
  margin: 2px -17px 2px 2px;
}

ul {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

li.deck {
  list-style: none;
  padding: 8px 0 8px 30px;
  margin: 1px 0 1px 0;
}

#create-deck {
  margin: 0 0 0 6%;
}

/* CARD-STUFF, YO */

#card {
  padding: 2em;
  margin: 40px 25px 25px 25px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 6px gray;
  background-color: white;
}

#question {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.center {
  margin: 0 0 0 28%;
}

.text-center {
  text-align: center;
}

.next-center {
  margin: 0 43%;
}
