<div class="container">
  <h1>Welcome to Flashcards</h1>

  <form action="/decks">
  	<p><label for="name">User Name:</label>&nbsp;&nbsp;
  	<input type="text" name="name"></p>
  	<p><label for="password">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;
  	<input type="text" name="password"></p>

  	<input type="submit" value="Login">
  </form>
</div>
