<div class="container">
  <h1>Flashy Cards</h1>
  <p>Please login to view your flashcards</p>

  <form class="login" action="/users" method="post">
    <input type="text" class="field" name="email"></br>
    <input type="text" class="field" name="password"></br>
    <input type="submit" id="create" class="button" name="users_new" value="create account">
    <input type="submit" id="login" class="button" name="users" value="login">
  </form>

</div>
